---
import Layout from "../layouts/Layout.astro";

import HeaderSmall from "../components/HeaderSmall.astro";

import Gallery from "../components/Gallery.astro";
const title = "Galeri";
const subtitle = "Kegiatan saat pelatihan dan Ujian Sertifikasi Mikrotik MTCNA";
---

<Layout title="Project 1">
  <div class="mb-12">
    <HeaderSmall title={title} subtitle={subtitle} />
  </div>
  <main>
    <div class="mb-12">
      <Gallery />
    </div>
  </main>
</Layout>

<style></style>
