---
import Layout from "../layouts/Layout.astro";

import HeaderSmall from "../components/HeaderSmall.astro";

import Table from "../components/Table.astro";
const title = "Jadwal Training";
const subtitle = "Kegiatan Training yang akan datang";
const response = await fetch('https://api.apispreadsheets.com/data/cqNmVxsmPKIhbPiv/');
const dataa = await response.json();
const data = dataa.data;

---

<Layout title="Project 2">
  <div class="mb-12">
    <HeaderSmall title={title} subtitle={subtitle} />
  </div>
  <main>
    <div class="mb-12">
      <Table {data} />
    </div>
  </main>
</Layout>

<style></style>
