---
import Card from "./Card.astro";
import Heading from "./Heading.astro";

const heading = "Trainer/Instruktur";
const subHeading =
  "Mikrotik Academy Skarla memiliki instruktur yang telah tersertifikasi Mikrotik!";
const titlee = "Maradona";
const bodyy = "MTCRE , MTCNA";
---

<div class="bg-stone-100 max-w-screen-xl dark:bg-slate-800">
  <div class="py-8 px-4 text-center lg:px-6">
    <Heading heading={heading} />
    <p class="mt-2 text-m text-gray-700 dark:text-gray-400">
      {subHeading}
    </p>
  </div>
  <div class="flex justify-center text-center bg-stone-100 dark:bg-slate-800">
    <div class="py-8 px-4 lg:px-6">
      <Card title={titlee} body={bodyy}/>
    </div>
  </div>
</div>
